.PopUpOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .PopUpContent {
    background: #3781E1;
    padding: 20px;
    width: 400px;
    border-radius: 8px;
    text-align: center;
    position: relative;
  }