body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #3781E1;
  color: white;
}

.searchBar {
  padding: 10px;
  width: 542px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.searchBar2 {
  padding: 10px;
  width: 250px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 10px;
}

.searchBar::placeholder {
  color: #757575;
  opacity: 1;
}

.searchButton {
  display: inline-flex;
  align-items: center;
  padding: 13px 20px;
  font-size: 16px;
  color: white;
  background-color: #193861;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  gap: 8px;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.uploadButton {
  display: inline-flex;
  align-items: center;
  padding: 13px 20px;
  margin-left: 10px;
  font-size: 16px;
  color: white;
  background-color: #193861;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  gap: 8px;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.packageButtons {
  display: inline-flex;
  align-items: center;
  padding: 13px 20px;
  margin-left: 10px;
  font-size: 16px;
  color: white;
  background-color: #193861;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  gap: 8px;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.darkBlueBox{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 0;
  background-color: #193861;
  color: white;
  border-radius: 4px;
  flex-grow: 1;
  height: 625px;
  overflow-y: auto;
}

.darkBlueBox ul {
  list-style-type: none;
  padding: 0;
}

.darkBlueBox li {
  font-size: 25px;
  padding-bottom: 0px;
  padding-top: 10px;
  padding-left: 20px;
  text-align: left;
}

.lightBlueBox{
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  padding: 10px;
  background-color: #3781E1;
  color: white;
  border-radius: 4px;
  flex-grow: 1;
}

.rightAligned{
  text-align:right;
}

.searchButton.sunk {
  transform: translateY(4px) scale(0.95); /* Move down and shrink */
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); /* Reduce shadow for a sunk effect */
}

.uploadButton.sunk {
  transform: translateY(4px) scale(0.95); /* Move down and shrink */
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); /* Reduce shadow for a sunk effect */
}

.packageButtons.sunk {
  transform: translateY(4px) scale(0.95); /* Move down and shrink */
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); /* Reduce shadow for a sunk effect */
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background: #3781E1;
  padding: 20px;
  width: 400px;
  border-radius: 8px;
  text-align: center;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.switch {
  margin-right: 10px;
  position: relative;
  display: inline-block;
  width: 42.5px; /* Increased by a quarter from 34px */
  height: 25px;  /* Increased by a quarter from 20px */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #193861;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px; /* Increased by a quarter from 12px */
  width: 15px;  /* Increased by a quarter from 12px */
  border-radius: 50%;
  left: 5px;  /* Increased by a quarter from 4px */
  bottom: 5px; /* Increased by a quarter from 4px */
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #193861;
}

input:checked + .slider:before {
  transform: translateX(17.5px); /* Increased by a quarter from 14px */
}

.App {
  text-align: center;
  padding: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
